<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="nav-link" style="font-family: 'Copperplate', Fantasy; " asp-area="" asp-controller="Home" asp-action="Index">
                <img src="https://svgshare.com/i/cyS.svg" alt="gc_logo" border="0" />GC GoCarts
            </a>
        </li>
        </ul>
</div>